asgiref==3.2.7
bson==0.5.10
Django==3.0.6
django-crispy-forms==1.9.1
django-multiselectfield==0.1.12
importlib-metadata==1.6.0
jsonpickle==1.4.1
numpy==1.18.5
Pillow==7.1.2
pipfile==0.0.2
psycopg2-binary==2.8.5
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
zipp==3.1.0
